<script setup lang="ts">
import HelloWorld from '@/components/hello-world/index.vue';
const title = 'hello'
</script>

<template>
  <hello-world :msg="title"></hello-world>
</template>

<style scoped>
</style>
